
.imgWrapper{
    width:100%;
    height: 200px;
    margin-top: 50px;
    text-align: center;
}
img{
    width:180px;
}
#result{
    padding:50px 0px 20px 100px;
    font-size: 18px;
}
form{
    margin-top:20px;
}
#testImg{
    width:180px;
    margin: 0 auto;
}
